<head>
    <meta charset="utf-8">
    <title>Hosts</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/resources/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/resources/css/public.css" media="all">
    <style>
        .layui-btn-success {
            background-color: #1db380;
        }
        .layui-btn-normal {
            background-color: #0fc1de; !important;
        }
        .layui-btn-danger {
            background-color: #fa7639;
        }
        .layui-btn-warm {
            background-color: #ffb950;
        }
    </style>

</head>







