<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catas.audit.mapper.BindhostMapper">

    <sql id="getRelatedHostIds">
        select
            bind_host_id
        from
            audit_user_info_bind_hosts
        where user_info_id = #{userId}
    </sql>

    <sql id="getRelatedHostIdsFromGroup">
        SELECT
        b.bindhost_id
        FROM
        audit_user_info_groups AS a
        JOIN
        audit_hostgroup_bind_hosts AS b ON a.group_id = b.hostgroup_id
        <where>
            <if test="userId != null">
                AND a.user_info_id = #{userId}
            </if>
            <if test="groupId != null">
                AND a.group_id = #{groupId}
            </if>
        </where>
    </sql>

    <resultMap id="hostLoginInfo" type="hashmap">
        <result column="auth_type" property="authType" javaType="String"/>
        <!--<result column="ip_address" property="ipAddress"/>-->
        <!--<result column="host_name" property="hostName"/>-->
        <!--<result column="username" property="userName"/>-->
        <result column="port" property="port" javaType="String"/>
    </resultMap>

    <resultMap id="bindHostsMap" type="com.catas.audit.dto.RelatedHostDto">
        <result column="id" property="id"/>
        <result column="host_name" property="hostName"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="port" property="port"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="userName"/>
        <result column="auth_type" property="authType"/>
        <result column="idc" property="idc"/>
        <!--<association property="idc" column="idc_id" javaType="string" select="getIdcById"/>-->
        <!--<association property="authType" column="auth_type" javaType="string" select="getAuthTypeById"/>-->
    </resultMap>

    <!--查询用户未通过分组绑定的所有主机信息-->
    <select id="queryBindHostsByUserId" resultMap="bindHostsMap" parameterType="com.catas.audit.vo.RelatedHostVo">
        SELECT
            b.id as id,
            c.host_name as host_name,
            c.ip_address as ip_address,
            c.idc_id as idc_id,
            c.`port` as port,
            c.enabled as enabled,
            d.username as username,
            d.auth_type as auth_type,
            e.name as idc
        FROM
            audit_user_info_bind_hosts as a
            JOIN audit_bindhost AS b ON a.bind_host_id = b.id
            JOIN audit_host AS c on b.host_id = c.id
            JOIN audit_hostuser AS d on b.host_user_id = d.id
            join audit_idc as e on e.id = c.idc_id
        <where>
            <if test="userId != null">
                AND a.user_info_id = #{userId}
            </if>
            <if test="hostName != null">
                AND c.host_name like concat('%', #{hostName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="idc != null">
                AND e.name like concat('%', #{idc, jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="getIdcById" resultType="string">
        select
          name
        from audit_idc where id = #{id}
    </select>

    <!-- 查询用户通过group 绑定的所有主机信息-->
    <select id="queryBindHostsByUserGroup" parameterType="com.catas.audit.vo.RelatedHostVo" resultMap="bindHostsMap">
        SELECT
            b.id as id,
            c.host_name as host_name,
            c.ip_address as ip_address,
            c.idc_id as idc_id,
            c.`port` as port,
            c.enabled as enabled,
            d.username as username,
            d.auth_type as auth_type,
            e.name as idc
        FROM
            audit_user_info_groups AS f
                JOIN audit_hostgroup_bind_hosts AS a on f.group_id = a.hostgroup_id
                JOIN audit_bindhost AS b ON a.bindhost_id = b.id
                JOIN audit_host AS c on b.host_id = c.id
                JOIN audit_hostuser AS d on b.host_user_id = d.id
                join audit_idc as e on e.id = c.idc_id
        <where>
            <if test="userId != null">
                AND f.user_info_id = #{userId}
            </if>
            <if test="groupId != null">
                AND f.group_id = #{groupId}
            </if>
            <if test="hostName != null">
                AND c.host_name like concat('%', #{hostName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="idc != null">
                AND e.name like concat('%', #{idc, jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>


    <select id="queryRelatedHostIds" resultType="integer">
        <include refid="getRelatedHostIds"/>
    </select>

    <select id="queryRelatedHostIdsFromGroup" resultType="integer">
        <include refid="getRelatedHostIdsFromGroup"/>
    </select>

    <!--用户所有绑定主机的id-->
    <select id="queryAllRelatedHostIds" resultType="integer">
        <include refid="getRelatedHostIds"/>
        union
        <include refid="getRelatedHostIdsFromGroup"/>
    </select>

    <select id="getHostLoginInfo" resultMap="hostLoginInfo">
        SELECT
            b.host_name,
            b.ip_address,
            b.`port`,
            c.auth_type,
            c.username,
            c.`password`
        FROM
            audit_bindhost AS a
        JOIN
            audit_host as b ON a.host_id = b.id
        JOIN
            audit_hostuser AS c ON a.host_user_id = c.id
        WHERE a.id = #{id}
    </select>

    <select id="getAllHostInfo" resultType="hashmap">
        SELECT
            a.id as id,
            CONCAT('[', b.host_name,']',b.ip_address, ':', b.`port`) as hostInfo,
            d.`name` as idc,
            c.username as userName
        FROM
            audit_bindhost AS a
        JOIN
            audit_host as b ON a.host_id = b.id
        JOIN
            audit_hostuser AS c on a.host_user_id = c.id
        JOIN
            audit_idc AS d on b.idc_id = d.id
    </select>

    <select id="getAllBindHost" resultType="hashmap" parameterType="com.catas.audit.vo.BindHostVo">
        select
            a.id as id,
            b.id as hostId,
            c.id as hostUserId,
            concat(b.host_name, '[', b.ip_address, ']') as hostInfo,
            c.username as userInfo
        from
            audit_bindhost as a
        join audit_host as b on a.host_id = b.id
        join audit_hostuser as c on a.host_user_id = c.id
        <where>
            <if test="hostName != null">
                and b.host_name like concat('%', #{hostName}, '%')
            </if>
            <if test="userName != null">
                and c.username like concat('%', #{userName}, '%')
            </if>
        </where>
    </select>

    <delete id="deleteRelatedHostByUserId" >
        DELETE
        from
            audit_user_info_bind_hosts
        WHERE
            user_info_id = #{userId};
    </delete>

    <insert id="saveRelatedHost" >
        INSERT INTO
            audit_user_info_bind_hosts (user_info_id, bind_host_id)
        VALUES
        <foreach collection="bindHostIdList" item="bId" separator=",">
            (#{userId}, #{bId})
        </foreach>
    </insert>
</mapper>
