<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catas.audit.mapper.HostgroupMapper">


    <select id="getAllGroupInfo" resultType="hashmap" parameterType="com.catas.audit.vo.HostGroupVo">
        select
            a.id,
            a.name as groupName,
            ifnull(b.count, 0) as hostCount
        from audit_hostgroup as a
        left join
             (
                 select hostgroup_id,
                        count(hostgroup_id) as count
                 from audit_hostgroup_bind_hosts
                 group by hostgroup_id
             ) as b on a.id = b.hostgroup_id
        <where>
            <if test="name != null">
                and a.name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="queryRelatedGroupIds" resultType="integer">
        select
            distinct group_id
        from audit_user_info_groups
        where user_info_id = #{userId};
    </select>

    <delete id="deleteRelatedGroupByUserId">
        delete from audit_user_info_groups
        where user_info_id = #{userId};
    </delete>

    <insert id="saveRelatedGroups">
        insert into
            audit_user_info_groups (user_info_id, group_id)
        values
        <foreach collection="hostGroupList" item="gId" separator=",">
            (#{userId}, #{gId})
        </foreach>
    </insert>

    <!--获取当前组所有绑定的 bind-host id-->
    <select id="getAllRelatedBindHostIds" resultType="int">
        SELECT
            bindhost_id
        FROM audit_hostgroup_bind_hosts as a
        <where>
            <if test="groupId != null">
                and a.hostgroup_id = #{groupId}
            </if>
        </where>
    </select>

    <!--删除当前组所有的 bindhost-->
    <delete id="deleteAllRelatedBindHosts">
        delete from
            audit_hostgroup_bind_hosts as a
        where
            a.hostgroup_id = #{groupId}
    </delete>

    <!--新租绑定 bind-host 关系-->
    <insert id="saveRelatedBindHosts">
        insert into
            audit_hostgroup_bind_hosts (hostgroup_id, bindhost_id)
        VALUES
        <foreach collection="bindHostIds" item="item" separator=",">
            (#{groupId}, #{item})
        </foreach>
    </insert>
</mapper>
