<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catas.audit.mapper.UserInfoMapper">

    <sql id="BASE_TABLE">
        audit_user_info
    </sql>
    <sql id="USER_2_HOST_GROUP_TABLE">
        audit_user_info_groups
    </sql>

    <select id="queryGroupIdsByUserId" resultType="Integer">
        SELECT
            t.group_id
        FROM
            audit_user_info_groups AS t
        WHERE
            t.user_info_id = #{id}
    </select>

    <select id="getPermissionsById" resultType="string">
        SELECT
        DISTINCT
            e.`code`
        FROM
            audit_user_info as a
            JOIN auth_user_info_group as b on a.id = b.user_id
            JOIN auth_group as c on b.group_id = c.id
            JOIN auth_group_permissions as d on c.id = d.group_id
            JOIN auth_permission as e on d.permission_id = e.id
        WHERE a.id = #{userId}
    </select>
</mapper>
