<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hosts</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/resources/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/resources/css/public.css" media="all">

    <style>
        .layui-btn-success {
            background-color: #29a877;
        }
        .layui-btn-normal {
            background-color: #1daec7; !important;
        }
        .layui-btn-danger {
            background-color: #ef6121;
        }
        .layui-btn-warm {
            background-color: #ffb950;
        }
    </style>
</head>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添 加 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-primary data-count-edit" lay-event="edit">编 辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-success data-count-edit" lay-event="refresh">启 动</a>
            <a class="layui-btn layui-btn-xs layui-btn-warm data-count-edit" lay-event="pause">暂 停</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">移 除</a>
        </script>

        <!--修改弹出层-->
        <div id="addOrUpdateDiv" style="display: none; padding: 10px 5% 10px 10px;">
            <form action="" method="post" class="layui-form" id="dataFrm" lay-filter="dataFrm">
                <div class="layui-form-item">
                    <div class="layui-input-block" id="parentDept">
                        <input type="hidden" name="id" id="id" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">名 称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input input-radius" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align: center;padding-right: 7%">
                        <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="doSubmit" id="doSubmit"><i
                            class="layui-icon layui-icon-search layui-icon-normal"></i>保存
                        </button>
                        <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm"><i
                            class="layui-icon layui-icon-refresh"></i><span>重置</span>
                        </button>
                    </div>
                </div>

            </form>
        </div>
        </div>


</div>
<script src="/resources/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/glimmer/get-all-plan',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type: "checkbox", width: 50},
                {field: 'id', width: 150, title: 'ID', sort: true},
                {field: 'name', width: 150, title: '名称'},
                {field: 'userId', width: 180, title: '', sort: true, hide: true},
                {field: 'userName', width: 150, title: '创建人', sort: true},
                {field: 'createDate', width: 180, title: '创建时间', sort: true},
                {field: 'enableLevel', width: 120, title: '可用', sort: true},
                {field: 'enabled', width: 120, title: '可用', hide: true},
                {field: 'status', width: 180, title: '', hide: true},
                {field: 'cron', width: 180, title: '', hide: true},
                {field: 'statusLevel', width: 150, title: '状态'},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ] ],
            limits: [5, 10, 15],
            limit: 10,
            page: true,
            skin: 'line',
            done: function (data, curr, count) {
                //不是第一页时，如果当前返回的数据为0那么就返回上一页
                if (data.data.length === 0 && curr !== 1) {
                    tableIns.reload({
                        page: {
                            curr: curr - 1
                        }
                    })
                }
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                },
                where: data.field
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            var data = obj.data;
            switch(obj.event) {
                case 'add':
                    openAddLayer(data);
                    // toAddPlan(data);
                    break;
            }
        });

        //监听表格复选框选择
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            // console.log(data);
            switch (obj.event) {
                case 'edit':
                    toPlanDetail(data);
                    break;
                case 'delete':
                    deleteUser(data);
                    break;
                default:
                    modifyPlan(data, obj.event);
            }
        });

        // 修改计划状态
        function modifyPlan(data, event) {
            var descption = '';
            if (event === 'start') {
                descption = '启动';
            }else if (event === 'pause') {
                descption = '暂停';
            }else if (event === 'refresh') {
                descption = '重启';
            }
            layer.confirm('确定要' + descption + data.name +'吗?', {icon: 3, title: '提示'}, function (index) {
                $.post("/glimmer/" + event + '/' + data.id, function (res) {
                    if (res.code === 200) {
                        table.reload('currentTableId');
                    }
                    layer.msg(res.msg);
                });
                layer.close(index);
            });
        }

        // 跳转详情页
        function toPlanDetail(data) {
            window.location.pathname = "/glimmer/detail/" + data.id;
        }

        //删除
        function deleteUser(data) {
            layer.confirm('你确定要删除[' + data.name + ']吗？', {icon: 3, title: '提示'}, function (index) {
                $.post("/glimmer/delete/"+data.id, function (res) {
                    if (res.code === 200) {
                        table.reload('currentTableId');
                    }
                    layer.msg(res.msg);
                });
                layer.close(index);
            });
        }

        //打开添加弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['500px','300px'],
                title:'添加计划',
                success:function () {
                    $("#dataFrm")[0].reset();
                    $("#userId").val("");
                    url="/glimmer/add";
                }
            });
        }

        //打开修改的弹出层
        function updateDept(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','500px'],
                title:'修改计划',
                success:function () {
                    //清空原有的数据
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    url="/glimmer/update";
                }
            });
        }

        // 提交表单
        form.on("submit(doSubmit)",function (data) {
            // console.log(data.field);
            var data_field = data.field;
            if (data_field.hasOwnProperty('enabled')) {
                data_field.enabled = 1;
            }else {
                data_field.enabled = 0;
            }
            $.post(url, data.field, function (res) {
                if (res.code === 200){
                    table.reload('currentTableId');
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });

    });
</script>

</body>
</html>