<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header"></div>
<style>
    .list-group-item {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        border-radius: 3px;
    }

    #save-order {
        color: floralwhite;
    }

    #save-order:hover {
        color: rgb(190, 215, 233);
    }

    .list-group-item:hover {
        background-color: rgb(230, 230, 230);
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-card">
            <div class="layui-card-header">任务详情</div>
            <div class="layui-card-body">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基本信息</legend>
                    <form class="layui-form" action="" lay-filter="planDetail" >
                        <div class="layui-form-item">
                            <div class="layui-input-block" id="parentDept">
                                <input type="hidden" name="id" id="id" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">计划名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">描   述</label>
                            <div class="layui-input-block">
                                <input type="text" name="description" placeholder="计划描述" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Cron</label>
                            <div class="layui-input-block">
                                <input type="text" id="cronVal" lay-verify="required" name="cron" placeholder="点击输入Cron表达式" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">激   活</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="enabled" lay-skin="switch" lay-text="ON|OFF">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">关联主机
                                <!--&nbsp;&nbsp;(已选择:<span class="layui-badge layui-bg-blue">2</span>)-->
                            </label>
                            <div class="layui-input-block">
                                <div id="demo1"></div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-radius layui-btn-success" lay-submit="" lay-filter="doSubmit" id="doSubmit" >提   交</button>
                            </div>
                        </div>
                    </form>

                </fieldset>

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>任  务</legend>
                    <div class="layui-card layui-col-md10" id="job-detail" style="padding-left: 25px;">
                        <div class="layui-card-header">(拖动以改变次序)</div>
                        <div class="layui-card-body">
                            <table class="layui-hide" id="jobTable" lay-filter="currentTableFilter"></table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添 加 </button>
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="reOrder"> 更新次序 </button>
            </div>
        </script>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-primary data-count-edit" lay-event="edit">编 辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删 除</a>
        </script>
    </div>

    <!--修改弹出层-->
    <div id="addOrUpdateDiv" style="display: none; padding: 10px 5% 10px 10px;">
        <form action="" method="post" class="layui-form" id="dataFrm" lay-filter="dataFrm">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" id="jobId" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input input-radius" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="description" autocomplete="off" class="layui-input input-radius" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="">
                    <label class="layui-form-label">命令</label>
                    <div class="layui-input-block">
                        <input type="text" name="command" lay-verify="required" autocomplete="off" class="layui-input input-radius" >
                    </div>
                </div>
            </div>
            <!--<div>-->
            <!--    <div class="layui-inline">-->
            <!--        <label class="layui-form-label">类型</label>-->
            <!--        <div class="layui-input-block">-->
            <!--            <select id="idc-select" name="idcId" lay-verify="required">-->
            <!--                <option value="-1">无</option>-->
            <!--            </select>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">激活</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="enabled" checked lay-skin="switch" lay-filter="encrypt">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;padding-right: 7%">
                    <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="submitJob" id="submitJob">
                        <i class="layui-icon layui-icon-search layui-icon-normal"></i>提交
                    </button>
                    <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm">
                        <i class="layui-icon layui-icon-refresh"></i><span>重置</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/resources/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.config({
        base: '/resources/plugins/',   // 第三方模块所在目录
        version: 'v1.5.21' // 插件版本号
    }).extend({
        soulTable: 'soulTable/soulTable.slim',
        xmSelect: 'xmSelect/xm-select',
        cron: "cron/cron"
    }).use(['form', 'table', 'soulTable', 'xmSelect', 'cron'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            soulTable = layui.soulTable,
            xmSelect = layui.xmSelect,
            cron = layui.cron;

        // cron
        cron.render({
            elem: "#cronVal",           // 绑定元素
            // url: "https://xxx/cron",
            value: $("#cronVal").val(), // 默认值
            done: function (cronStr) {  // 点击确定，或运行时，触发，参数为 cron 表达式字符串
                // console.log(cronStr);
                $("#cronVal").val(cronStr);
            },
        });

        //渲染多选
        var demo1 = xmSelect.render({
            name: "bHostIds",
            el: '#demo1',
            paging: false,
            theme: {
                color: '#1cbbb4',
            },
            prop: {
                name: 'description',
                value: 'id',
            },
            // data: []
        })

        // 加载多选框数据
        function loadBHostInfo() {
            $.ajax({
                url:"/host/hostList",
                type:"post",
                dataType:"json",
                data: {
                    page: 1,
                    limit: 1000
                },
                success:function(result){
                    var res = result.data;    //返回的数据
                    // 多选框
                    demo1.update({
                        data: res
                    })
                },
                error:function() {
                    layer.msg("关联主机加载失败");
                    }
                }
            )
        }

        loadBHostInfo();

        function getPlanId() {
            var ls = window.location.pathname.split('/');
            if (ls[2] === 'detail') {
                return ls[3];
            }else {
                return 0;
            }
        }

        // 任务表格
        table.render({
            elem: '#jobTable',
            url: '/glimmer/get-job-list?planId=' + getPlanId(),
            toolbar: '#toolbarDemo',
            cols: [ [
                // {type: "checkbox", width: 120},
                {field: 'id', width: 200, title: 'ID', sort: true, hide: true},
                {field: 'number', width: 100, title: '次序', sort: true, type: 'numbers'},
                {field: 'name', width: 200, title: '任务名', sort: true},
                {field: 'taskType', width: 200, hide: true},
                {field: 'taskTypeDesc', width: 200, title: '类型'},
                {field: 'description', width: 200, title: '描述', sort: true},
                {field: 'command', width: 200, title: 'cmd', hide: true},
                {title: '操作', Width: 120, toolbar: '#currentTableBar'}
            ] ],
            limits: [10, 15, 25],
            limit: 10,
            page: true,
            skin: 'nob',
            rowDrag: true,
            done: function() {
                // 在 done 中开启
                soulTable.render(this)
            },
            // even: true //开启隔行背景
        });

        // 监听表格事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'add':
                    openAddLayer(data);
                    break;
                case 'reOrder':
                    reOrder(data);
                    break;
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            switch (obj.event) {

                case 'edit':
                    openUpdateLayer(data);
                    break;
                case 'delete':
                    deleteJob(data);
                    break;
            }
        });

        //打开添加弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['600px','400px'],
                title:'添加任务',
                success:function () {
                    $("#dataFrm")[0].reset();
                    $("#jobId").val("");
                    url= window.location.pathname + "/job/add";
                }
            });
        }

        //打开修改的弹出层
        function openUpdateLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['600px','400px'],
                title:'修改任务',
                success:function () {
                    //清空原有的数据
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    url= window.location.pathname + "/job/update";
                }
            });
        }

        //删除
        function deleteJob(data) {
            layer.confirm('你确定要删除任务[' + data.name + ']吗？', {icon: 3, title: '提示'}, function (index) {
                $.post( window.location.pathname+"/job/delete/"+data.id, function (res) {
                    if (res.code === 200) {
                        table.reload('jobTable');
                    }
                    layer.msg(res.msg);
                });
                layer.close(index);
            });
        }

        // 更新顺序
        function reOrder() {
            var tableData = layui.table.cache['jobTable'];
            var orders = [];
            for (i in tableData) {
                orders.push(tableData[i].id);
            }
            data = {
                'orders': orders
            };
            // console.log(data);
            layer.confirm('确定要更改顺序吗?', function (index) {
                $.post( window.location.pathname+"/job/reorder/", data, function (res) {
                    if (res.code === 200) {
                        // table.reload('jobTable');
                    }
                    layer.msg(res.msg);
                });
                layer.close(index);
            });
        }

        // 提交表单--job
        form.on("submit(submitJob)",function (data) {
            // console.log(data.field);
            var data_field = data.field;
            if (data_field.hasOwnProperty('enabled')) {
                data_field.enabled = 1;
            }else {
                data_field.enabled = 0;
            }
            console.log(data_field);
            $.post(url, data.field, function (res) {
                if (res.code === 200){
                    table.reload('jobTable');
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //表单初始赋值--plan
        function loadFromInfo() {
            $.ajax({
                    url:"/glimmer/get-plan-detail/" + getPlanId(),
                    type:"post",
                    dataType:"json",
                    success:function(result){
                        var res = result.data;    //返回的数据
                        // console.log(res);
                        form.val('planDetail', res);
                        demo1.setValue(res.bHostIds);
                    },
                    error:function() {
                        layer.msg("加载失败");
                    }
                }
            )
        }

        loadFromInfo();

        // 提交表单--plan
        form.on("submit(doSubmit)",function (data) {
            // console.log(data.field);
            var data_field = data.field;
            if (data_field.hasOwnProperty('enabled')) {
                data_field.enabled = 1;
            }else {
                data_field.enabled = 0;
            }
            // console.log(data_field);
            $.post("/glimmer/update", data.field, function (res) {
                if (res.code === 200){
                    loadFromInfo();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });


    });
</script>

</body>
</html>