<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header"></div>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-card">
            <div class="layui-card-header">SSH</div>
            <div class="layui-card-body">
                <fieldset class="table-search-fieldset">
                    <legend>搜索信息</legend>
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">主机名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="hostName" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">IDC</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="idc" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">主机组</label>
                                    <div class="layui-input-inline">
                                        <select id="host-group" name="groupId" lay-search="">
                                            <option value="" selected>未分组</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>

                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

                <script type="text/html" id="currentTableBar">
                    <!--<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>-->
                    <!--<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>-->
                    <a class="layui-btn layui-btn-sm layui-btn-success  data-count-connect" lay-event="connect">登&nbsp;录</a>
                </script>

            </div>
        </div>


    </div>
</div>
<script src="/resources/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/resources/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'layer', 'miniTab'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            miniTab = layui.miniTab;

        table.render({
            elem: '#currentTableId',
            url: '/host/hostList',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type: "checkbox", width: 120},
                {field: 'id', width: 140, title: 'ID', sort: true, hide: true},
                {field: 'hostName', width: 140, title: '主机', sort: true},
                {field: 'ipAddress', width: 150, title: 'IP'},
                {field: 'idc', width: 140, title: 'IDC', sort: true},
                {field: 'port', width: 120, title: '端口'},
                {field: 'userName', width: 120, title: '账户', sort: true},
                {field: 'enabled', width: 120, title: '可用'},
                {field: 'authType', width: 120, title: '认证方式'},
                {title: '操作', Width: 120, toolbar: '#currentTableBar'}
            ] ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            // height: "full-180",
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            // var result = JSON.stringify(data.field);
            // layer.alert(result, {
            //     title: '最终的搜索信息'
            // });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                },
                where: data.field
            }, 'data');

            return false;
        });

        // 加载 select
        $.ajax({
            url:"/host/get-host-group",
            type:"GET",
            dataType:"json",
            success:function(result){
                var list = result.data;    //返回的数据
                var server = document.getElementById("host-group"); //server为select定义的id
                for(var p in list){
                    var option = document.createElement("option");  // 创建添加option属性
                    option.setAttribute("value",list[p].id); // 给option的value添加值
                    option.innerText=list[p].name;     // 打印option对应的纯文本
                    server.appendChild(option);           //给select添加option子标签
                    form.render("select");            // 刷性select，显示出数据
                }
            },
            error:function() {
                layer.msg("load failed");
                }
            }
        );



        layui.use(['form','miniTab'], function () {
            var form = layui.form,
                layer = layui.layer,
                miniTab = layui.miniTab;

            miniTab.listen();

        });

        /**
         * toolbar监听事件
         */
        // table.on('toolbar(currentTableFilter)', function (obj) {
        //
        //     if (obj.event === 'add') {  // 监听添加操作
        //         var index = layer.open({
        //             title: '添加用户',
        //             type: 2,
        //             shade: 0.2,
        //             maxmin:true,
        //             shadeClose: true,
        //             area: ['100%', '100%'],
        //             content: '../page/table/add.html',
        //         });
        //         $(window).on("resize", function () {
        //             layer.full(index);
        //         });
        //     } else if (obj.event === 'delete') {  // 监听删除操作
        //         var checkStatus = table.checkStatus('currentTableId')
        //             , data = checkStatus.data;
        //         layer.alert(JSON.stringify(data));
        //     }
        // });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'connect') {
                layer.msg("connecting SSH...");
                // layer.msg(data);
                console.log(data);
                // 打开新的窗口
                miniTab.openNewTabByIframe({
                    href:"/connect/" + data.id ,
                    title: data.userName + "@" + data.ipAddress,
                });
            }
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/edit.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>