<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header"></div>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>筛选</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="" method="post">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">主机名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="hostName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="startDate" id="startDate" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">截至日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="endDate" id="endDate" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-sm layui-btn-success data-count-edit" lay-event="view">查&nbsp;看</a>
        </script>

        <!--修改弹出层-->

    </div>
</div>
<script src="/resources/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table
            laydate = layui.laydate;

        laydate.render({
            elem: '#startDate'
        });

        laydate.render({
            elem: '#endDate'
        });

        table.render({
            elem: '#currentTableId',
            url: '/sshlog/get-all',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type: "checkbox", width: 50},
                {field: 'id', width: 150, title: 'ID', hide: true},
                {field: 'createDate', width: 200, title: '日期', sort: true},
                {field: 'userInfo', width: 180, title: '用户'},
                {field: 'hostName', width: 180, title: '主机'},
                {field: 'ipAddress', width: 180, title: 'IP', sort: true},
                {field: 'hostUser', width: 120, title: 'SSH账户', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ] ],
            limits: [5, 10, 15],
            limit: 10,
            page: true,
            skin: 'line',
            done: function (data, curr, count) {
                //不是第一页时，如果当前返回的数据为0那么就返回上一页
                if (data.data.length === 0 && curr !== 1) {
                    tableIns.reload({
                        page: {
                            curr: curr - 1
                        }
                    })
                }
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                },
                where: data.field
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            var data = obj.data;
            switch(obj.event) {
                case 'add':
                    openAddLayer(data);
                    break;
            }
        });

        //监听表格复选框选择
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            // console.log(data);
            switch (obj.event) {
                case 'view':
                    downloadLog(data);
                    break;
            }
        });

        function downloadLog(data) {
            console.log(data);
            postDownLoadFile({
                url: "/sshlog/download/" + data.id,
                method: 'post',
                data: {}
            });
        }

        /*===================post请求下载文件
         * options:{
         * url:'',  //下载地址
         * data:{name:value}, //要发送的数据
         * method:'post'
         * }
         */
        var postDownLoadFile = function (options) {
            var config = $.extend(true, { method: 'post' }, options);
            var $iframe = $('<iframe id="down-file-iframe" />');
            var $form = $('<form target="down-file-iframe" method="' + config.method + '" />');
            $form.attr('action', config.url);
            for (var key in config.data) {
                $form.append('<input type="hidden" name="' + key + '" value="' + config.data[key] + '" />');
            }
            $iframe.append($form);
            $(document.body).append($iframe);
            $form[0].submit();
            $iframe.remove();
        }

        //打开添加弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['700px','400px'],
                title:'添加主机',
                success:function () {
                    $("#dataFrm")[0].reset();
                    $("#userId").val("");
                    url="/host/add";
                }
            });
        }

        // 提交表单
        form.on("submit(doSubmit)",function (data) {
            $.post(url, data.field, function (res) {
                if (res.code === 200){
                    table.reload('currentTableId');
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });

    });
</script>

</body>
</html>